<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show all books</title>
</head>
<body>
<div style=" margin-bottom: 8pt;" th:each="book : ${books}">
    <a style="font-size: 12pt; color: black;"
       th:href="@{/books/{id}(id=${book.bookId})}"
       th:text="${book.bookName} + ', ' + ${book.author} + ', ' + ${book.releaseYear}"/>
</div>
<hr/>
<form th:action="@{/books/new}">
  <input type="submit" value="Add a new book!"/>
</form>
<br/>
<form th:action="@{/people}">
  <input type="submit" value="Go to page of people!"/>
</form>
</body>
</html>