<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show a person</title>
</head>
<body>
<div th:object="${person}">
  <span th:text="'Name: ' + *{name}"/>
  <br/>
  <span th:text="'Email: ' + *{email}"/>
  <br/>
  <span th:text="'Date of birth: ' + *{dateOfBirth}"/>
  <br/>
  <span th:text="'Date of create: ' + *{dateOfCreate}"/>
</div>
<hr/>
<div>
  <form th:object="${person}" th:action="@{/people/{id}/update(id=*{id})}" th:method="get">
    <input type="submit" value="Edit">
  </form>
</div>
<br/>
<div>
  <form th:object="${person}" th:action="@{/people/{id}(id=*{id})}" th:method="delete">
    <input type="submit" value="Delete">
  </form>
</div>
<br/>
<div>
  <form th:action="@{/people}" th:method="get">
    <input type="submit" value="Go back">
  </form>
</div>
</body>
</html>